.header{
    margin-top: 60px;
    
    
}

.headerTitles{
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    font-family: 'Varela', sans-serif;
    color: white;
}

.headerTitleLg{
    position: absolute;
    top: 10%;
    font-size: 60px;
    margin-left: 100px;
    
}

.headerTitleSm{
    position: absolute;
    top: 20%;
    font-size: 30px;
    margin-left: 100px;
    
}

.headerImg{
    width: 100%;
    height: 650px;
    margin-top:-60px;
    object-fit: cover;
}